

<h2>Juega y gana</h2>


<button type="button" id="btnJugar" class="btn btn-info form-control" (click)="jugar()" >
 Jugar
</button>

<div class="content-wrapper">
    <div class="row justify-content-center ">
            <div id="jugar"  class="m-4" style="width: 200px; height: 150px;"></div>
            <div id="jugar2" class="m-4" style="width: 200px; height: 150px;"></div>
            <div id="jugar3" class="m-4" style="width: 200px; height: 150px;"></div>
    </div>
</div>

<div class="content-wrapper" id="mensaje">
    
</div>
<div class="content-wrapper" id="mensajeResultado">
    
</div>
